.fheader{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: #EA5616;
}
.fheader2{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: #A2B5CD;
}

.scrum_or_agile_title{
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: #BCBCC2;
}

.t1{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
  color: #18222F;
}

.t2{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #18222F;
}

.fheader3{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #18222F;

}
